<div class="container">
    <div class="col l3">
        <div class="card grey ligthen-1">
            <div class="card-content white-text">
                <span class="card-title">{{name}}</span>
                <li>
                    <p> {{date}} </p>
                </li>
                <li>
                    <p> {{time}} </p>
                </li>
                <li>
                    <p> {{event}} </p>
                </li>
                <div class="col s4">
                    <div class="card-action">
                        <form action="/detail/{{id}}?_method=delete" method="post">
                            <button class="pink waves-effect waves-light btn left" type="submit">YAY! Finished</button>
                        </form>
                        <div class="row">
                        <div class="col s4">
                            <a href="/detail/{{this.id}}/update"><button class="pink waves-effect waves-light btn" type="submit">Edit</button></a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
