<div class="row">
    <div class="col s12 m6">
        <div class="card grey ligthen-1">
            <div class="card-content white-text">
                <span class="card-title">{{name}}</span>
                <li>
                    <p> {{date}} </p>
                </li>
                <li>
                    <p> {{time}} </p>
                </li>
                <li>
                    <p> {{event}} </p>
                </li>
            </div>
            <div class="card-action">
              <form action="/detail/{{id}}?_method=delete" method="post">
                <button class="waves-effect waves-light btn" type="submit">YAY! Finished</button>
               </form>
              <a href="/detail/{{this.id}}/update"><button class="waves-effect waves-light btn" type="submit">edit</button></a>
            </div>
        </div>
    </div>
</div>
