<h1></h1>
<div class="row">
    <a class="pink lighten-1 waves-effect waves-light btn right" href="/new">Add A New Task</a>
</div>
<ul>
{{#each lists}}
    <div class="container">
        <div class="row">
            <div class="col l12 s8">
                    <div class="card grey ligthen-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{this.name}}</span>
                            <li>
                                <p> {{this.date}} </p>
                            </li>
                            <li>
                                <p> {{this.time}} </p>
                            </li>
                            <li>
                                <p> {{this.event}} </p>
                            </li>
                        </div>
                        <div class="card-action">
                            <a href="/detail/{{this.id}}">view item</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{{/each}}
</ul>
