<div class="container">
  <div class="row">
     <div class="col l6">

        <form action="/detail/{{this.id}}?_method=put" method="post">
            <label class="label">name</label>
            <input type="text" name="name" value="{{name}}">
            <label class="label">Time</label>
            <input type="time" name="time" value="{{time}}">
            <label class="label">Event</label>
            <input type="text" name="event" value="{{event}}">
            <label class="label">Date</label>
            <input type="date" name="date" value="{{date}}">
            <button class="pink waves-effect waves-light btn" type="submit">Add It!</button>
        </form>

    </div>
  </div>
</div>
