<form action="/detail/{{this.id}}?_method=put" method="post">
    <label>name</label>
    <input type="text" name="name" value="{{name}}">
    <label>Time</label>
    <input type="time" name="time" value="{{time}}">
    <label>Event</label>
    <input type="text" name="event" value="{{event}}">
    <label>Date</label>
    <input type="date" name="date" value="{{date}}">
    <button class="waves-effect waves-light btn" type="submit">Add It!</button>
</form>
